<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>To Do List</h1>
        <input id='new-task' type='text' >
        <button id='create-task' onclick="createTask()">Create</button><br><br>
        
        <h3>Tasks</h3>
        <div id='list-container'>
            {{#each data}}
                <div style='display: flex; margin-bottom: 10px;'> 
                    <div id={{_id}}>{{task}}</div>
                    <button style='margin-left: 10px;' id={{_id}} onclick="deleteTask(this)">Delete</button>
                </div>
            {{/each}}
        </div>
    </body>
    <script>
        function createTask() {
            var task = document.getElementById('new-task').value

            $.ajax({
                url: '/create',
                method: 'post',
                data: { task },
                success: (result) => {
                    document.getElementById('new-task').value = ''
                    console.log('Create Success!')
                    refreshTask(result)
                }
            })
        }

        function deleteTask(el) {
            $.ajax({
                url: '/delete',
                method: 'post',
                data: { id: el.id },
                success: (result) => {
                    document.getElementById('new-task').value = ''
                    console.log('Delete Success!')
                    refreshTask(result)
                }
            })
        }

        function refreshTask(list) {
            var parent = document.getElementById('list-container')
            parent.innerHTML = ''

            for(i = 0; i < list.length; i++) {
                var div = document.createElement('div')
                div.style.display = 'flex'
                div.style.marginBottom = '10px'
                var childDiv = document.createElement('div')
                childDiv.id = list[i]._id
                childDiv.innerHTML = list[i].task
                var button = document.createElement('button')
                button.id = list[i]._id
                button.style.marginLeft = '10px'
                button.onclick = () => deleteTask(button)
                button.innerHTML = 'Delete'
                div.appendChild(childDiv)
                div.appendChild(button)
                parent.appendChild(div)
            }
        }
    </script>
</html>